[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
nbformat = "*"
ipykernel = "*"
plotly = "*"
optuna = "*"
setuptools = "*"
flask = "*"
sweetviz = "*"
statsmodels = "*"
numpy = "<2.0"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.13"
